build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
__pycache__/
*.pyc
.venv/
exports/
lane_attributes/
lane_geometry_polyline/
lane_road_references/
lane_topology/
routing_attributes/
intermediate/
visualizations/
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
